@mixin rate-list-header {
    color: #494949;
    padding: 0 10px 10px 10px;
    font-weight: 500;
}

.exchange-current-rate-list {
    width: 100%;
    text-align: left;
    color: #494949;
    border-collapse: collapse;
    &__tr--hover {
        &:hover {
            background-color: rgba(35, 103, 200, 0.05);
        }
    }
    &__header-pair {
        @include rate-list-header;
        padding-left: 15px;
    }
    &__header-price {
        @include rate-list-header;
    }
    &__header-range {
        @include rate-list-header;
        text-align: right;
    }
    &__header-volume {
        @include rate-list-header;
        text-align: right;
        padding-right: 15px;
    }
    &__header-change {
        @include rate-list-header;
        text-align: right;
    }
    &__price {
        color: #2e3033;
        padding: 10px;
    }
    &__price-value {
        font-weight: 500;
    }
    &__pair {
        color: #6b8199;
        padding: 10px 10px 10px 15px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    &__change {
        color: #6b8199;
        text-align: right;
        padding: 10px 0 0;
    }
    &__change--up {
        color: #40993d;
    }
    &__change--down {
        color: #ff4346;
    }
    &__range {
        padding: 10px;
        text-align: right;
    }
    &__range-label {
        font-weight: 500;
    }
    &__volume {
        text-align: right;
        padding: 10px 15px 10px 10px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    &__volume-label {
        font-weight: 500;
    }
}

@media (max-width: 724px) {
    .exchange-current-rate-list {
        &__header-range,
        &__header-change,
        &__range,
        &__change {
            display: none;
        }
        &__header-change,
        &__change {
            text-align: right;
        }
    }
}
