@import "../search-block.mixins";

.search-block-capitalization {
    @include search-block__additional;

    &__title {
        @include search-block-title;
    }

    &__content {
        &__title {
            font-weight: 500;
            display: table-cell;
            white-space: nowrap;
            padding: 0 10px 10px 0;
            vertical-align: top;
        }

        &__value {
            display: table-cell;
            padding: 0 0 10px;
        }
    }
}
