<div class="search-block-capitalization">
    <h2 class="search-block-capitalization__title">Capitalization</h2>

    <table class="search-block-capitalization__content">
        <tr *ngIf="capitalization.marketCap">
            <td class="search-block-capitalization__content__title">
                Market Cap
            </td>
            <td class="search-block-capitalization__content__value">
                ${{capitalization.marketCap | number}}
            </td>
        </tr>
        <tr *ngIf="capitalization.volume24h">
            <td class="search-block-capitalization__content__title">
                Volume (24h)
            </td>
            <td class="search-block-capitalization__content__value">
                ${{capitalization.volume24hUsd | number}}<br>
                <span class="secondary">{{capitalization.volume24h | number}} {{symbol}}</span>
            </td>
        </tr>
        <tr *ngIf="capitalization.circulatingSupply">
            <td class="search-block-capitalization__content__title">
                Circulating Supply
            </td>
            <td class="search-block-capitalization__content__value">
                {{capitalization.circulatingSupply | number}} {{symbol}}
            </td>
        </tr>
        <tr *ngIf="capitalization.maxSupply">
            <td class="search-block-capitalization__content__title">
                Max Supply
            </td>
            <td class="search-block-capitalization__content__value">
                {{capitalization.maxSupply | number}} {{symbol}}
            </td>
        </tr>
    </table>
</div>
