.search-block-web-link-list-more-button {
    cursor: pointer;
    outline: none;
    padding: 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(35, 103, 200, 0.05);
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #6b8199;

    &:hover {
        background-color: rgba(35, 103, 200, 0.1);
        color: #194c94;
    }

    &--disable {
        cursor: auto;

        &:hover {
            background-color: rgba(35, 103, 200, 0.05);
            color: #6b8199;
        }
    }
}
