<div class="exchanger-other-list">
    <h2 class="exchanger-other-list__title">
        Other exchanges
    </h2>

    <div>
        <div class="exchanger-other-list__item" *ngFor="let exchanger of exchangers | slice:0:MAX_EXCHANGERS">
            <app-exchanger-other [exchanger]="exchanger"></app-exchanger-other>
        </div>
    </div>

    <app-track-link *ngIf="sourceUrl"
        [originalLink]="sourceUrl"
        [serverTrackLink]=""
        block="exchanger-other-list"
        label="bottom-link"
        class="exchanger-other-list__link">
        <img class="exchanger-other-list__icon"
            src="{{sourceUrl | favicon}}" onerror="this.src='/assets/images/default-icon.png'">
        </app-track-link>

    <app-track-link *ngIf="sourceUrl"
        [originalLink]="sourceUrl"
        [serverTrackLink]=""
        block="exchanger-other-list"
        label="bottom-link"
        class="exchanger-other-list__link">
        {{sourceUrl}}
    </app-track-link>
</div>
