@import "../search-block.mixins";

.search-block-future-event {
    margin: -10px;
    padding: 10px;

    &:hover {
        background-color: #f7f7f7;
    }

    &__title {
        @include search-block-subtitle;
        margin-bottom: 0;
    }

    &__date {
        font-size: 14px;
        color: #999999;
        margin-bottom: 10px;
    }
}
