<div class="search-block-token-exchange">
    <div class="search-block-token-exchange__logo">
        <img class="search-block-token-exchange__img" [src]="exchange.logoUrl"/>
    </div>

    <div class="search-block-token-exchange__text">
        <h3 class="search-block-token-exchange__title">
            <a [routerLink]="['/search']" [queryParams]="{q: exchange.name}" (click)="onClick()">{{ exchange.name }}</a>
        </h3>

        <p class="search-block-token-exchange__description">
            {{ exchange.description }}
        </p>
    </div>
</div>
