<div class="table">
    <table class="table__table">
        <tr class="table__tr">
            <th colspan="2" class="table__th table__th--title">
                {{'Trending Searches' | translate}}
            </th>
        </tr>
        <tr class="table__tr" *ngFor="let trend of trendingResults$ | async; let idx = index" [ngClass]="{'table__tr--hover': trend.request !== null}" (click)="onClick(idx+1, trend.request)">
            <td class="table__td home-trending-searche-list__td-number">{{idx + 1}}</td>
            <td class="table__td">
                <app-load *ngIf="trend.request === null"></app-load>
                {{trend.request}}
            </td>
        </tr>
    </table>
</div>
