<div class="blocks-txn-ethereum">
    <h2 class="blocks-txn-ethereum__title">
        <a [routerLink]="['/search']" [queryParams]="{q: 'ethereum'}">
            Ethereum</a>
        transaction with hash
        <small>0x2d4bf47a278672d88b7d23afe8806801344d7d00cd236faeced3f7c1fad2dd00</small>
    </h2>

    <div class="blocks-txn-ethereum__description">
        <p>
            <b>TxReceipt:</b> -
        </p>
        <p>
            <b>Status:</b> <span class="blocks-txn-ethereum__status--success">Success</span>
        </p>
        <p>
            <b>Block Height:</b> 5088582 (3 block confirmations)
        </p>
        <p>
            <b>TimeStamp:</b> 1 min ago (Feb-14-2018 11:44:03 AM +UTC)
        </p>
        <p>
            <b>From:</b>
            <a [routerLink]="['/search']" [queryParams]="{q: '0xfd54078badd5653571726c3370afb127351a6f26'}">
                0xfd54078badd5653571726c3370afb127351a6f26
            </a>
        </p>
        <p>
            <b>To:</b>
            <a [routerLink]="['/search']" [queryParams]="{q: '0xf5a49d4974b153276e6be4037c01b034658bf1aa'}">
                0xf5a49d4974b153276e6be4037c01b034658bf1aa
            </a>
        </p>
        <p>
            <b>Value:</b> 0.00063 Ether ($0.55)
        </p>
        <p>
            <b>Gas Limit:</b> 21000
        </p>
        <p>
            <b>Gas Used By Txn:</b> 21000
        </p>
        <p>
            <b>Gas Price:</b> 0.000000007 Ether (7 Gwei)
        </p>
        <p>
            <b>Actual Tx Cost/Fee:</b> 0.000147 Ether ($0.13)
        </p>
        <p>
            <b>Cumulative Gas Used:</b> 4283300
        </p>
        <p>
            <b>Nonce:</b> 85322
        </p>
    </div>
</div>
