<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <ul class="footer__top-ul">
                <li class="footer__top-li">
                    <a class="footer__top-a" href="https://docsend.com/view/m5yvvud">
                        {{'Privacy Policy' | translate}}
                    </a>
                </li>
                <li class="footer__top-li">
                    <a class="footer__top-a" href="https://docsend.com/view/xgxrsic">
                        {{'Software User Agreement' | translate}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__bottom">
            <div class="footer__copyright"><span class="footer__copyright-symbol">&copy;</span> 2018 desearch.com</div>
            <div class="footer__bottom-a-wrap">Powered by
                <a class="footer__bottom-a" href="https://bitclave.com">Bitclave</a>
            </div>
        </div>
    </div>
</footer>
