<footer class="footer">
  <ul class="links">
    <li>
      <a class="link" href="https://docsend.com/view/m5yvvud">
        {{'Privacy Policy' | translate}}
      </a>
    </li>
    <li>
      <a class="link" href="https://docsend.com/view/xgxrsic">
        {{'Software User Agreement' | translate}}
      </a>
    </li>
    <li>
      <a class="link" href="mailto:support@desearch.com" target="_blank">
        {{'Suggest Improvements' | translate}}
      </a>
    </li>
  </ul>
  <div class="company-meta">
    <span class="meta">
        <span class="symbol">&copy;</span> 2018 desearch.com
    </span>
    <span class="meta">
        Powered by <a class="meta-link" href="https://bitclave.com">Bitclave</a>
    </span>
  </div>
</footer>
