.footer {
    padding: 50px 0;
    &__top {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__top-ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__top-li {
        margin: 2px 7px;
    }
    &__top-a {
        line-height: 2.5;
        font-size: 12px;
        color: #2367c8;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            color: #134080;
        }
    }
    &__copyright {
        font-size: 12px;
        color: #6b8199;
        line-height: 2.5;
        display: flex;
        margin: 2px 7px;
        align-items: center;
    }
    &__copyright-symbol {
        margin-top: -3px;
        margin-right: 4px;
    }
    &__bottom-a-wrap {
        font-size: 12px;
        color: #6b8199;
        line-height: 2.5;
        display: flex;
        margin: 2px 7px;
    }
    &__bottom-a {
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
        color: #2e3033;
        transition: 0.3s;
        &:hover {
            color: #2367c8;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 20px 0;
    }
    .footer__top-li {
        margin-top: 0;
        margin-bottom: 0;
    }
}
