<div class="search-block-company-about">
    <h2 class="search-block-company-about__title">About company</h2>

    <p>
        <b>Rating:</b> {{company.rating}}
    </p>

    <p>{{company.description}}</p>

    <p class="secondary">
        Country: {{company.country}}<br>
        Category: {{company.category}}<br>
        Chain: {{company.chain}}<br>
    </p>

    <p>
        Pre ICO: {{company.preIcoStart | date:'MMM. dd, yyyy' }} - {{company.preIcoEnd | date:'MMM. dd, yyyy' }}<br>
        ICO: {{company.icoStart | date:'MMM. dd, yyyy' }} - {{company.icoEnd | date:'MMM. dd, yyyy' }}
    </p>

    <app-track-link [originalLink]="company.url" [serverTrackLink]="company.analyticalURL" block="search-block-company-about" class="search-block-company-about__link">
        <img class="search-block-company-about__icon" src="{{company.url | favicon}}" onerror="this.src='/assets/images/default-icon.png'"></app-track-link>

    <app-track-link [originalLink]="company.url" [serverTrackLink]="company.analyticalURL" block="search-block-company-about" class="search-block-company-about__link">
        {{company.url}}</app-track-link>
</div>
