<div class="search-block-company-about">
    <section class="search-block-company-about__summary">
        <table>
            <tr *ngIf="company.country">
                <th>Country:</th>
                <td>{{company.country}}</td>
            </tr>
            <tr *ngIf="company.category">
                <th>Category:</th>
                <td>{{company.category}}</td>
            </tr>
            <tr *ngIf="company.chain">
                <th>Chain:</th>
                <td>{{company.chain}}</td>
            </tr>
            <tr *ngIf="company.preIcoStart">
                <th>Pre ICO:</th>
                <td>{{company.preIcoStart | date:'MMM. dd, yyyy' }} &mdash; {{company.preIcoEnd | date:'MMM. dd, yyyy' }}</td>
            </tr>
            <tr *ngIf="company.icoStart">
                <th>ICO:</th>
                <td>{{company.icoStart | date:'MMM. dd, yyyy' }} &mdash;  <ng-container *ngIf="company.slug === 'bitclave'">
                    Nov. 28, 2017
                </ng-container>
                <ng-container *ngIf="company.slug !== 'bitclave'">
                {{company.icoEnd | date:'MMM. dd, yyyy' }}
                </ng-container>
                </td>
            </tr>
            <tr>
                <th>Hard Cap:</th>
                <td>{{hardCap}}</td>
            </tr>
            <tr>
                <th>Raised Funds:</th>
                <td>{{raisedFunds}}</td>
            </tr>
        </table>
    </section>

    <section
        class="search-block-company-about__description"
        [ngClass]="{'search-block-company-about__description-short': !isDescriptionExpanded}">
        {{company.description}}
    </section>

    <button *ngIf="!isDescriptionExpanded"
        class="search-block-company-about__btn-all"
        (click)="expandDescription()"
        type="button">
        Read More
    </button>
</div>
