.home-popular-coin-list {
    &__icon {
        max-width: 20px;
        max-height: 20px;
    }

    &__name {
        display: none;
    }
}

@media (min-width: 1024px) {
    .home-popular-coin-list {
        &__name {
            display: inline-block;
        }

        &__symbol {
            display: none;
        }
    }
}
