<table class="home-popular-coin-list">
    <thead>
    <tr>
        <td class="home-popular-coin-list__main-header" colspan="3">
            Popular Coins <span class="home-popular-coin-list__link-all">&#8250;</span>
        </td>
        <!--<td class="home-popular-coin-list__second-header">-->
            <!--24h-->
        <!--</td>-->
        <td class="home-popular-coin-list__second-header">
            USD
        </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rate of exchangeRatesResults$ | async; let i = index">
        <td class="home-popular-coin-list__number">{{i + 1}}</td>
        <td class="home-popular-coin-list__image">
            <a href="?">
                <img class="home-popular-coin-list__icon" src="/assets/images/coins/{{rate.blockchain.symbol}}.png"></a>
        </td>
        <td class="home-popular-coin-list__name">
            <a href="?">{{rate.blockchain.name}}</a>
        </td>
        <!--<td class="home-popular-coin-list__24h&#45;&#45;up">-->
            <!--<app-load *ngIf="rate.value === null"></app-load>-->
            <!--&lt;!&ndash;&uarr; 20.48%&ndash;&gt;-->
        <!--</td>-->
        <td class="home-popular-coin-list__value">
            <app-load *ngIf="rate.value === null"></app-load>
            {{rate.value}}
        </td>
    </tr>
    </tbody>
</table>
