.home-popular-coin-list {
    &__td-number {
        width: 35px;
    }

    &__td-icon {
        width: 40px;
        text-align: center;
    }

    &__td-name {
        padding-left: 0;
    }

    &__icon {
        max-width: 20px;
        max-height: 20px;
        margin: 4px 0 0;
    }

    &__name {
        display: none;
    }
}

@media (min-width: 1024px) {
    .home-popular-coin-list {
        &__name {
            display: inline-block;
        }

        &__symbol {
            display: none;
        }
    }
}
