<div class="table home-popular-coin-list">
    <table class="table__table">
        <tr class="table__tr">
            <th colspan="3" class="table__th table__th--title text-left">
                Popular Coins
            </th>
            <th class="table__th table__th--remove-padding text-right">24h</th>
            <th class="table__th text-right">USD</th>
        </tr>

        <tr class="table__tr table__tr--hover" *ngFor="let rate of exchangeRatesResults$ | async; let idx = index" (click)="onClick(idx+1, rate.blockchain.name)">
            <td class="table__td table__td--width-1 table__td--padding-right">
                {{idx + 1}}
            </td>

            <td class="table__td table__td--width-1 table__td--padding-right text-center">
                <img class="table__td-img home-popular-coin-list__icon" src="/assets/images/coins/{{rate.blockchain.symbol}}.svg" alt="{{rate.blockchain.name}}">
            </td>

            <td class="table__td">
                <span class="home-popular-coin-list__name">{{rate.blockchain.name}}</span>
                <span class="home-popular-coin-list__symbol">{{rate.blockchain.symbol}}</span>
            </td>

            <td class="table__td table__td--text-right" [ngClass]="{'table__td--color-green': rate.change !== null && rate.change > 0, 'table__td--color-red': rate.change !== null && rate.change < 0}">
                <app-load *ngIf="rate.change === null"></app-load>
                <ng-container *ngIf="rate.change !== null && rate.change > 0">↑</ng-container>
                <ng-container *ngIf="rate.change !== null && rate.change < 0">↓</ng-container>
                <ng-container *ngIf="rate.change !== null">{{rate.change | number}}%</ng-container>
            </td>

            <td class="table__td table__td--text-right table__td--color-black">
                <app-load *ngIf="rate.price === null"></app-load>
                {{rate.price | number}}
            </td>
        </tr>
    </table>
</div>
