<div class="search-form-popular">
    <a [routerLink]="['/search']" [queryParams]="{q: 'bitcoin'}" class="search-form-popular__item" (click)="onClick('coin')">
        bitcoin
    </a>
    <a [routerLink]="['/search']" [queryParams]="{q: 'ark'}" class="search-form-popular__item" (click)="onClick('ark')">
        ark
    </a>
    <a [routerLink]="['/search']" [queryParams]="{q: 'dogecoin'}" class="search-form-popular__item" (click)="onClick('dogecoin')">
        dogecoin
    </a>
    <a [routerLink]="['/search']" [queryParams]="{q: 'bittrex'}" class="search-form-popular__item" (click)="onClick('bittrex')">
        bittrex
    </a>
    <a [routerLink]="['/search']" [queryParams]="{q: 'bitclave'}" class="search-form-popular__item" (click)="onClick('bitclave')">
        bitclave
    </a>
</div>
