@mixin search-block {
    display: block;
    padding: 30px 30px 25px;
    margin-bottom: 35px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(107, 129, 153, 0.2), 0 0.5px 3px 0 rgba(107, 129, 153, 0.25);

    &:hover {
        text-decoration: none;
    }
}

@mixin search-block__additional {
    @include search-block;

    @media (min-width: 1024px) {
        padding: 0;
        box-shadow: none;
        margin-bottom: 60px;
    }

    @media (min-width: 1200px) {
        padding: 30px 30px 25px;
        box-shadow: 0 2px 5px 0 rgba(107, 129, 153, 0.2), 0 0.5px 3px 0 rgba(107, 129, 153, 0.25);
        margin-bottom: 35px;
    }
}

@mixin search-block-title {
    position: static;
    overflow: hidden;
    display: block;
    font-size: 1.31em;
    font-weight: 500;
    vertical-align: middle;
    line-height: 1.15;
    padding: 0;
    margin: 0 0 20px 0;
    max-width: 100%;
}

@mixin search-block-subtitle {
    @include search-block-title;
    font-size: 1.11em;
}

@mixin search-block-button {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

@mixin search-block-footer-link {
    display: inline-block;
    color: #888;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 100%;
    font-size: .9176em;
    margin-bottom: -10px;
    height: 16px;
}

@mixin search-block-footer-icon {
    width: 16px;
    height: 16px;
}

@mixin photo {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

@mixin photo--medium {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
