<div class="home-about" id="about">
    <div class="home-about__all">
        <div class="home-about__all__content">
            <h1 class="home-about__all__title">
                One search bar is all you need!

            </h1>
            <p class="home-about__all__text">
                All things crypto under one roof:<br>
                New unique tokens and currencies,
                ICOs and Founders,
                Best exchanges to buy Crypto
            </p>
            <p class="home-about__info__text">
                <app-add-to-bookmarks></app-add-to-bookmarks>
            </p>
        </div>

        <img class="home-about__all__image" src="/assets/images/landing/landing01.svg">
    </div>

    <div class="home-about__focus">
        <div class="home-about__all__content">
            <h1 class="home-about__focus__title">
                No annoying advertising
            </h1>
            <p class="home-about__focus__text">
                We don't show and promote the paid news
            </p>
            <p class="home-about__info__text">
                <app-add-to-bookmarks></app-add-to-bookmarks>
            </p>
        </div>
        <img class="home-about__all__image" src="/assets/images/landing/landing02.svg">
    </div>

    <div class="home-about__info">
        <div class="home-about__all__content">
            <h1 class="home-about__info__title">
                Works in China
            </h1>
            <p class="home-about__info__text">
                Where the Usual searches are banned or under control
            </p>
            <p class="home-about__info__text">
                <app-add-to-bookmarks></app-add-to-bookmarks>
            </p>
        </div>
        <img class="home-about__all__image" src="/assets/images/landing/landing05.svg">
    </div>

    <div class="home-about__help">
        <div class="home-about__all__content">
            <h1 class="home-about__help__title">
                Don't search, find
            </h1>
            <p class="home-about__help__text">
                All things crypto
            </p>
            <br>
            <div class="sharethis-inline-share-buttons"></div>
        </div>
        <img class="home-about__all__image" src="/assets/images/landing/landing04.svg">
    </div>
</div>
