<div class="home-about">
    <div class="items-list">
        <div class="items-list__item">
            <div class="item">
                <div class="item__img-wrap">
                    <img class="item__img" src="/assets/images/home/illustration-1@2x.png" alt="">
                </div>
                <div class="item__title">
                    {{'One search bar is all you need!' | translate}}
                </div>
                <p class="item__p">
                    {{'All things crypto under one roof: new unique tokens and currencies, ICOs and founders, best exchanges to buy crypto.' | translate}}
                </p>
                <div class="item__btn-fav">
                    <app-add-to-bookmarks></app-add-to-bookmarks>
                </div>
            </div>
        </div>

        <div class="items-list__item">
            <div class="item">
                <div class="item__img-wrap">
                    <img class="item__img" src="/assets/images/home/illustration-2@2x.png" alt="">
                </div>
                <div class="item__title">
                    {{'No annoying advertising' | translate}}
                </div>
                <p class="item__p">
                    {{"We don't show and promote the paid news." | translate}}
                </p>
            </div>
        </div>

        <div class="items-list__item">
            <div class="item">
                <div class="item__img-wrap">
                    <img class="item__img" src="/assets/images/home/illustration-3@2x.png" alt="">
                </div>
                <div class="item__title">
                    {{'Works in China' | translate}}
                </div>
                <p class="item__p">
                    {{'Where the usual searches are banned or under control.' | translate}}
                </p>
            </div>
        </div>
    </div>
</div>
