<div class="home-about" id="about">
    <div class="home-about__all">
        <h1 class="home-about__all__title">
            All about crypto in one place
        </h1>
        <p class="home-about__all__text">
            Currency and tokens exchange rates, ICOs and founders, wallets, transactions,
            where to buy crypto, etc.
        </p>
    </div>

    <div class="home-about__focus">
        <h1 class="home-about__focus__title">
            No annoying advertising
        </h1>
        <p class="home-about__focus__text">
            We don't show and promote the paid news.
        </p>
    </div>

    <div class="home-about__info">
        <h1 class="home-about__info__title">
            We don't track and store your personal data.
        </h1>
        <p class="home-about__info__text"></p>
    </div>

    <div class="home-about__help">
        <h1 class="home-about__help__title">
            No ad, no tracking, just crypto!
        </h1>
        <p class="home-about__help__text">
            Leave behind "Usual Search".  Don't search &mdash; find!
        </p>
    </div>
</div>
