.home {
    &__header {
        &__inner {
            padding-top: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__left {
            margin: 0 auto;
        }
    }

    &__content {
        &__search {
            max-width: 630px;
            margin: 12px auto;

            &__title {
                font-size: 18px;
                line-height: 1;
                margin-bottom: 25px;
                text-align: center;
            }

            &__popular {
                margin: 20px 0 0;
            }
        }

        &__search--bottom {
            max-width: 630px;
            margin: 140px auto 110px;

            &__title {
                font-size: 20px;
                line-height: 1.5;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        &__table {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 90px -10px 55px;
        }

        &__table-wrap {
            width: 100%;

            &--last {
                margin: 45px 0 0;
            }

            &--hide {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .home {
        &__header {
            &__inner {
                padding-top: 100px;
            }
        }

        &__content {
            &__search {
                &__title {
                    margin-bottom: 30px;
                }
            }

            &__table {
                flex-wrap: nowrap;
                margin: 90px -15px 90px;
            }

            &__table-wrap {
                width: 50%;
                padding: 0 33px 0 0;
                box-sizing: border-box;

                &--last {
                    padding: 0 0 0 33px;
                    margin: 0;
                }
            }

            &__search--bottom {
                margin: 120px auto 110px;

                &__title {
                    font-size: 30px;
                    line-height: 1;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .home {
        &__header {
            &__inner {
                padding-top: 120px;
            }
        }

        &__content {
            &__table {
                margin: 70px 20px 90px;
            }

            //&__search {
            //    &__popular {
            //        margin: 30px 0 0;
            //    }
            //}

            &__search--bottom {
                margin: 160px auto 110px;

                &__title {
                    margin-bottom: 30px;
                }
            }

            &__table-wrap {
                padding: 0 85px 0 0;

                &--last {
                    padding: 0 0 0 85px;
                }
            }
        }
    }
}

@media (min-width: 1200px) and (min-height: 680px) {
    .home {
        &__header {
            &__inner {
                padding-top: 180px;
            }
        }

        &__content {
            &__search {
                margin: 16px auto;

                &__title {
                    margin-bottom: 40px;
                }

                &__popular {
                    margin: 30px 0 0;
                }
            }

            &__table {
                margin: 150px 34px 135px;
            }

            &__table-wrap {
                padding: 0 70px 0 0;

                &--last {
                    padding: 0 0 0 70px;
                }
            }

            &__search--bottom {
                margin: 190px auto 110px;

                &__title {
                    margin-bottom: 40px;
                }
            }
        }
    }
}
