<div class="home">
    <div class="home__content">
        <div class="home__content__search">
            <div class="home__logo">
                <img src="/assets/images/logos/logo.svg" class="home__logo-image">
            </div>

            <div class="home__form">
                <app-search-form></app-search-form>
            </div>

            <div class="home__description">
                {{'Finds everything about crypto that "Usual Search" can\'t.' | translate}}
                <a class="home__description__more" href="#about">{{'More.' | translate}}</a>
            </div>
        </div>

        <div class="home__content__exchange-rates">
            <app-home-popular-coin-list></app-home-popular-coin-list>
        </div>
    </div>

    <div class="home__about" [ngStyle]="{height: height}">
        <app-home-about></app-home-about>
    </div>

    <app-producthunt></app-producthunt>
</div>
