.home {
    &__header {
        &__inner {
            padding-top: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__left {
            margin: 0 auto;
        }
    }

    &__content {
        &__search {
            max-width: 630px;
            margin: 12px auto;

            &--margin-60 {
                margin-top: 60px;
            }

            &__title {
                font-size: 18px;
                line-height: 1;
                margin-bottom: 25px;
                text-align: center;
            }
        }

        &__search--bottom {
            max-width: 630px;
            margin: 140px auto 110px;

            &__title {
                font-size: 20px;
                line-height: 1.5;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        &__table {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 135px -10px 55px;
        }

        &__table-wrap {
            width: 100%;

            &:last-child {
                margin: 30px 0 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .home {
        &__header {
            &__inner {
                padding-top: 100px;
            }
        }

        &__content {
            &__search {
                &__title {
                    margin-bottom: 30px;
                }
            }

            &__table {
                flex-wrap: nowrap;
                margin: 135px 0 90px;
            }

            &__table-wrap {
                width: 50%;
                padding: 0 24px 0 0;
                box-sizing: border-box;

                &:last-child {
                    padding: 0 0 0 24px;
                    margin: 0;
                }
            }

            &__search--bottom {
                margin: 120px auto 110px;

                &__title {
                    font-size: 30px;
                    line-height: 1;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .home {
        &__header {
            &__inner {
                padding-top: 120px;
            }
        }

        &__content {
            &__table {
                margin: 115px 0 90px;
            }

            &__search--bottom {
                margin: 160px auto 110px;

                &__title {
                    margin-bottom: 30px;
                }
            }

            &__table-wrap {
                padding: 0 50px 0 0;

                &:last-child {
                    padding: 0 0 0 50px;
                }
            }
        }
    }
}

@media (min-width: 1200px) and (min-height: 680px) {
    .home {
        &__header {
            &__inner {
                padding-top: 180px;
            }
        }

        &__content {
            &__search {
                margin: 16px auto;

                &__title {
                    margin-bottom: 40px;
                }
            }

            &__table {
                margin: 200px 0 135px;
            }

            &__table-wrap {
                padding: 0 70px 0 0;

                &:last-child {
                    padding: 0 0 0 70px;
                }
            }

            &__search--bottom {
                margin: 190px auto 110px;

                &__title {
                    margin-bottom: 40px;
                }
            }
        }
    }
}
