<div class="home">
    <header class="home__header">
        <div class="container">
            <div class="home__header__inner">
                <div class="home__header__left">
                    <app-logo></app-logo>
                </div>
                <div class="home__header__right">
                </div>
            </div>
        </div>
    </header>

    <main class="home__content">
        <div class="container">
            <div class="home__content__search">
                <div class="home__content__search__title">Find everything about crypto</div>
                <div class="search__inner">
                    <app-search-form></app-search-form>
                </div>
            </div>

            <div class="home__content__table">
                <div class="home__content__table-wrap">
                    <app-home-popular-coin-list></app-home-popular-coin-list>
                </div>

                <div class="home__content__table-wrap home__content__table-wrap--hide">
                    <app-home-trending-searches></app-home-trending-searches>
                </div>

                <div class="home__content__table-wrap home__content__table-wrap--hide">
                    <app-home-top-ico-list></app-home-top-ico-list>
                </div>

                <div class="home__content__table-wrap home__content__table-wrap--last">
                    <app-home-latest-news></app-home-latest-news>
                </div>
            </div>

            <app-home-about></app-home-about>
        </div>
    </main>

    <div class="container">
        <div class="home__content__search--bottom">
            <div class="home__content__search--bottom__title">Don't search, find!</div>
            <app-search-form></app-search-form>
        </div>
    </div>
</div>
