.home {
    background-color: #f7f7f7;

    &__content {
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__search {
            width: 100%;
            max-width: 650px;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__exchange-rates {
            flex: 0;
            min-height: 449px;
        }
    }

    &__about {
        height: 80%;
    }

    &__logo {
        position: relative;
        display: block;
        max-width: 300px;
        text-align: center;

        &-image {
            width: 100px;
            height: 100px;
            margin: auto;
        }

        &-company {
            color: #636363;
            font-size: 32px;
            font-weight: 100;
            font-family: sans-serif;
        }
    }

    &__description {
        position: relative;
        line-height: 1.4;
        font-size: 1em;
        padding: 0 .8em;
        margin: .5em auto;
        text-align: center;
        color: #9a9a9a;

        @media (min-width: 640px) {
            font-size: 1.25em;
        }

        &__more {
            white-space: nowrap;
        }
    }

    &__form {
        padding: 1.3em .8em 1em;
        width: 100%;
    }
}
