<div class="home" [ngStyle]="{height: height}">
    <div class="home__content">
        <div class="home__content__search">
            <div class="home__logo">
                <img src="/assets/images/logos/logo1.svg" class="home__logo-image">
            </div>

            <div class="home__form">
                <app-search-form></app-search-form>
            </div>

            <div class="home__description">
                {{'Finds everything about crypto that "Usual Search" can\'t.' | translate}}
                <a class="home__description__more" href="#about">{{'More.' | translate}}</a>
            </div>
        </div>

        <div class="home__content__exchange-rates">
            <app-home-exchange-rates></app-home-exchange-rates>
        </div>
    </div>

    <div class="home__about">
        <app-home-about></app-home-about>
    </div>
</div>
