@import './colors';
%hide-text {
    text-indent: -999rem;
    overflow: hdden;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.danger {
    color: map-get($indicator-colors, danger)
}

.success {
    color: map-get($indicator-colors, success)
}
