body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Circe', sans-serif;
    color: #2e3033;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
}

* {
    box-sizing: border-box;
    &::after,
    &::before {
        box-sizing: border-box;
    }
}

button {
    font-family: 'Circe', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 768px) {
        width: 708px;
    }

    @media (min-width: 1024px) {
        width: 930px;
    }
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}
