@font-face {
    font-family: 'Circe';
    src: url('/assets/fonts/circe/circe-regular.eot');
    src: local('Circe'), local('Circe-Regular'),
    url('/assets/fonts/circe/circe-regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/circe/circe-regular.woff') format('woff'),
    url('/assets/fonts/circe/circe-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('/assets/fonts/Circe/circe-bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
    url('/assets/fonts/circe/circe-bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/circe/circe-bold.woff') format('woff'),
    url('/assets/fonts/circe/circe-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
