.item {
    text-align: center;

    &__img-wrap {
        display: inline-block;
    }

    &__img {
        display: block;
        width: 210px;
        height: 210px;
    }

    &__title {
        font-size: 20px;
        margin: 20px 0 10px;
        line-height: 1;
        color: #2e3033;
    }

    &__p {
        line-height: 1.62;
        font-size: 16px;
        color: #6b8199;
        margin: 15px 0 0;
    }

    &__btn-fav {
        margin: 20px 0 0;
    }
}

@media (min-width: 768px) {
    .item {
        &__title {
            max-width: 340px;
            margin: 20px auto 0;
        }

        .item__p {
            max-width: 340px;
            margin: 15px auto 0;
        }
    }
}

@media (min-width: 1024px) {
    .item {
        &__title {
            font-size: 30px;
            max-width: 570px;
            margin: 35px auto 0;
        }

        .item__p {
            font-size: 18px;
            line-height: 1.67;
            max-width: 570px;
            margin: 20px auto 0;
        }
    }
}
