<div class="search-block-news">
    <app-track-link *ngIf="news.url"
        [originalLink]="news.url"
        [serverTrackLink]="news.analyticalURL"
        block="search-block-news"
        [label]="number">
        <img *ngIf="news.imageUrl"
            class="search-block-news__img"
            [src]="news.imageUrl" />
    </app-track-link>
    <app-track-link  *ngIf="news.url"
        [originalLink]="news.url"
        [serverTrackLink]="news.analyticalURL"
        block="search-block-news"
        [label]="number">
    <div class="search-block-news__title">
        {{ (news.title.length > 40) ? (news.title | slice:0:40) + '...' : news.title  }}
    </div>
    </app-track-link>
    <div class="search-block-news__footer">
        <div class="search-block-news__footer__date">
            {{ news.humanDate }}
        </div>
        <div class="search-block-news__footer__source">
            {{ news.source | titlecase }}
        </div>
    </div>
</div>
