<div class="blocks-blockchain">
    <h2 class="blocks-blockchain__title">
        <a href="{{result.website}}" rel="noopener" target="_blank" class="blocks-blockchain__link">
            <i class="fab fa-bitcoin"></i> {{result.name}} ({{result.code}})
        </a>
    </h2>

    <div class="blocks-blockchain__description">
        <p>{{result.description}}</p>

        <p>
            <b>Announcements:</b> <a href="{{result.announcements[0]}}">{{result.announcements[0]}}</a>
        </p>

        <nvd3 [options]="options" [data]="data"></nvd3>

        <h2>
            Capitalization
        </h2>

        <p>
            <b>Current course:</b> ${{result.currentCourse | number}}
        </p>

        <p>
            <b>Market cap:</b> ${{result.marketCap | number}}<br>
            <b>Volume (24h):</b> ${{result.volume24h | number}}<br>
            <b>Circulating Supply:</b> ${{result.circulatingSupply | number}}<br>
            <b>Max Supply:</b> ${{result.maxSupply | number}}<br>
        </p>

        <h2>
            <i class="fas fa-globe"></i> Explorers
        </h2>

        <p>
            <a href="{{result.explorers[0]}}">{{result.explorers[0]}}</a><br>
            <a href="{{result.explorers[1]}}">{{result.explorers[1]}}</a><br>
            <a href="{{result.explorers[2]}}">{{result.explorers[2]}}</a><br>
        </p>
    </div>

    <div  class="blocks-blockchain__links">
        <a href="{{result.sourceCode}}"><i class="fab fa-github"></i></a>&nbsp;
        <a href="{{result.messageBoards[0]}}"><i class="fab fa-stack-exchange"></i></a>&nbsp;
        <a href="{{result.messageBoards[1]}}"><i class="fab fa-wpforms"></i></a>&nbsp;
    </div>
</div>
