<div class="search-block-team">
    <ul class="search-block-team__list">
        <li
            class="search-block-team__item"
            *ngFor="let member of showedMembers; let i = index">
            <div class="search-block-team__profile-wrapper">
                <img *ngIf="member.photo"
                    class="search-block-team__profile"
                    [src]="member.photo">
            </div>

            <div class="search-block-team__description">
                <span class="search-block-team__name">
                    {{member.name}}
                </span>

                <div class="track-links">
                    <app-track-link *ngIf="member.linkedinURL"
                        [originalLink]="member.linkedinURL"
                        [serverTrackLink]=""
                        block="search-block-team"
                        [label]="i + 1">
                        <fa name="linkedin-square"></fa>
                    </app-track-link>

                    <app-track-link *ngIf="member.twitterURL"
                        [originalLink]="member.twitterURL"
                        [serverTrackLink]=""
                        block="search-block-team"
                        [label]="i + 1">
                        <fa name="twitter"></fa>
                    </app-track-link>

                    <app-track-link *ngIf="member.facebookURL"
                        [originalLink]="member.facebookURL"
                        [serverTrackLink]=""
                        block="search-block-team"
                        [label]="i + 1">
                        <fa name="facebook"></fa>
                    </app-track-link>
                </div>

                <div class="search-block-team__member__title">
                    {{member.role}}
                </div>
            </div>
        </li>
    </ul>

    <button
        *ngIf="!showedAllTeam"
        class="search-block-team__btn-all"
        (click)="showAllTeam()"
        type="button">
        See All Team
    </button>
</div>
