<div class="search-block-team">
    <h2 class="search-block-team__title">Team</h2>

    <p class="search-block-team__member" *ngFor="let member of showedMembers">
        <b>{{member.name}}</b>

        <a href="{{member.facebookURL}}" rel="noopener" target="_blank" *ngIf="member.facebookURL">
            <i class="fab fa-facebook facebook"></i></a>

        <a href="{{member.twitterURL}}" rel="noopener" target="_blank" *ngIf="member.twitterURL">
            <i class="fab fa-twitter twitter"></i></a>

        <a href="{{member.linkedinURL}}" rel="noopener" target="_blank" *ngIf="member.linkedinURL">
            <i class="fab fa-linkedin linkedin"></i></a>

        <br>

        {{member.role}}
    </p>

    <button class="search-block-team__btn-all" (click)="showAllTeam()" *ngIf="!showedAllTeam">Show All Team</button>

    <a class="search-block-team__link" rel="noopener" target="_blank" href="{{sourceUrl}}#team">
        <img class="search-block-team__icon" src="{{sourceUrl | favicon}}" onerror="this.src='/assets/images/default-icon.png'"></a>
    <a href="{{sourceUrl}}#team" class="search-block-team__link" rel="noopener" target="_blank">
        {{sourceUrl}}
    </a>
</div>
