<div class="search-block-team">
    <h2 class="search-block-team__title">Team</h2>

    <p class="search-block-team__member" *ngFor="let member of showedMembers; let i = index">
        <b>{{member.name}}</b>

        <app-track-link [originalLink]="member.facebookURL" [serverTrackLink]="" block="search-block-team" [label]="i + 1" *ngIf="member.facebookURL">
            <i class="fab fa-facebook facebook"></i></app-track-link>

        <app-track-link [originalLink]="member.twitterURL" [serverTrackLink]="" block="search-block-team" [label]="i + 1" *ngIf="member.twitterURL">
            <i class="fab fa-twitter twitter"></i></app-track-link>

        <app-track-link [originalLink]="member.linkedinURL" [serverTrackLink]="" block="search-block-team" [label]="i + 1" *ngIf="member.linkedinURL">
            <i class="fab fa-linkedin linkedin"></i></app-track-link>

        <br>

        {{member.role}}
    </p>

    <button class="search-block-team__btn-all" (click)="showAllTeam()" *ngIf="!showedAllTeam">Show All Team</button>

    <app-track-link originalLink="{{sourceUrl}}#team" [serverTrackLink]="" block="search-block-team" label="bottom-link" class="search-block-team__link">
        <img class="search-block-team__icon" src="{{sourceUrl | favicon}}" onerror="this.src='/assets/images/default-icon.png'"></app-track-link>

    <app-track-link originalLink="{{sourceUrl}}#team" [serverTrackLink]="" block="search-block-team" label="bottom-link" class="search-block-team__link">
        {{sourceUrl}}</app-track-link>
</div>
