<div class="search-block-roadmap">
    <h2 class="search-block-roadmap__title">Roadmap</h2>

    <p class="search-block-roadmap__step" *ngFor="let stage of showedStages">
        <span class="search-block-roadmap__step-title">{{stage.name}}</span><br>
        <span [innerHTML]="stage.description"></span>
    </p>

    <button class="search-block-roadmap__btn-all" (click)="showAllRoadmap()" *ngIf="!showedAllRoadmap">Show All Roadmap</button>

    <app-track-link originalLink="{{sourceUrl}}#milestones" [serverTrackLink]="analyticalURL" block="search-block-roadmap" label="bottom-link" class="search-block-roadmap__link">
        <img class="search-block-roadmap__icon" src="{{sourceUrl | favicon}}" onerror="this.src='/assets/images/default-icon.png'"></app-track-link>

    <app-track-link originalLink="{{sourceUrl}}#milestones" [serverTrackLink]="analyticalURL" block="search-block-roadmap" label="bottom-link" class="search-block-roadmap__link">
        {{sourceUrl}}</app-track-link>
</div>
