<div class="producthunt" [ngClass]="{'producthunt--hide': !isShow}">
    <div class="producthunt__image">
        <img src="/assets/images/producthunt.png">
        <a href="mailto:info@bitclave.com" class="producthunt__mailto"></a>
        <a href="https://twitter.com/bitclave" target="_blank" class="producthunt__twitter"></a>
        <a href="https://t.me/BitClaveCommunity" target="_blank" class="producthunt__telegram"></a>
    </div>
    <div class="producthunt__close" (click)="close()"></div>
</div>
