.search-result-token {
    padding: 0 10px 7px;
    overflow: hidden;
    border-radius: 3px;
    display: block;
    text-decoration: none;

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0 20px;
    }

    &__title {
        position: static;
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: flex-start;
        font-size: 30px;
        line-height: 30px;
        flex: 1;
        margin: 0;
    }

    &__subtitle {
        position: static;
        overflow: hidden;
        display: block;
        font-size: 1.31em;
        vertical-align: middle;
        line-height: 1.15;
        padding: 0;
        margin: 0 0 20px 0;
        max-width: 100%;
    }

    &__logo {
        width: 22px;
        height: 22px;
        margin: 0 5px 0 0;
    }

    &__exchange-rate {
        padding: 24px 16px 20px;
        border: 1px solid #fff;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        margin-bottom: 20px;

        &__from {
            font-size: 16px;
            color: #878787;
            margin: 0 0 5px 0;
            line-height: 1;
        }

        &__to {
            font-size: 32px;
            line-height: 1;
            margin: 0;
        }
    }

    &__chart {
        padding: 24px 16px 20px;
        border: 1px solid #fff;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        margin-bottom: 20px;

        &__container {
            overflow: hidden;
        }

        &__nvd3 {
            margin: -30px 0;
            display: block;
        }

        &__description {
            margin-top: 20px;
            color: #878787;
            display: flex;

            &__part {
                flex: 1;
            }
        }

        &__tabs {
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            margin: 0 -18px 20px;
            display: flex;
            padding: 0 20px;
        }

        &__tab {
            flex: 1;
            border-right: 1px solid rgba(0, 0, 0, 0.16);
            text-align: center;
            cursor: pointer;

            &:last-child {
                border-right: 0;
            }

            &--selected {
                color: #dd4b39;
                border-bottom: 2px solid #dd4b39;
            }
        }
    }

    &__capitalization {
        padding: 24px 16px 20px;
        border: 1px solid #fff;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        margin-bottom: 20px;
    }

    &__about-company {
        padding: 24px 16px 20px;
        border: 1px solid #fff;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        margin-bottom: 20px;
    }

    &__ico {
        padding: 24px 16px 20px;
        border: 1px solid #fff;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        margin-bottom: 20px;
    }

    &__link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.22;
        margin-bottom: -0.05em;
        vertical-align: middle;
        display: inline-block;
        max-width: 100%;
        color: #084999;

        &:visited,
        &:visited:hover {
            color: #6c00a2;
        }
    }

    &__description {
        font-size: .9176em;
        color: #494949;
        line-height: 1.45;
        margin: 0 0 0.2em;
    }

    &__extras {
        display: flex;
    }

    &__icon-link {
        margin-right: .5em;
    }

    &__domain-link {
        color: #888;
        line-height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: auto;
        max-width: 100%;
        font-size: .9176em;
    }
}
