@import "../search.mixins";

.search-result-token {
    border-radius: 3px;
    display: block;
    text-decoration: none;

    &__header {
        @include header;
    }

    &__title {
        @include content__title;
    }

    &__logo {
        width: 22px;
        height: 22px;
        margin: 0 5px 0 0;
    }

    &__content {
        @include content;

        &__main {
            @include content__main;
        }

        &__additional {
            @include content__additional;
        }
    }
}
