.app {
    display: block;

    &__content {
        padding-bottom: 168px;
    }

    &__footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 168px;
    }
}
