<div class="search-block-exchange-about">
    <h2 class="search-block-exchange-about__title">About {{exchange.name}}</h2>

    <p>{{exchange.description}}</p>

    <p class="secondary">
        Country: {{exchange.country}}<br>
        Currencies: {{exchange.itemType}}<br>
    </p>

    <app-track-link [originalLink]="exchange.url" [serverTrackLink]="exchange.analyticalURL" block="search-block-exchange-about" class="search-block-exchange-about__link">
        <img class="search-block-exchange-about__icon" src="{{exchange.url | favicon}}" onerror="this.src='/assets/images/default-icon.png'"></app-track-link>

    <app-track-link [originalLink]="exchange.url" [serverTrackLink]="exchange.analyticalURL" block="search-block-exchange-about" class="search-block-exchange-about__link">
        {{exchange.url}}</app-track-link>
</div>
