.search-result-link {
    cursor: pointer;
    padding: 7px 10px;
    overflow: hidden;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    &:hover {
        background-color: #f7f7f7;
    }
    &__title {
        display: block;
        max-width: 100%;
        margin: 0 0 0.15em 0;
        padding: 0;
        font-size: 1.31em;
        line-height: 1.15;
        overflow: hidden;
    }
    &__link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.22;
        margin-bottom: -0.05em;
        vertical-align: middle;
        display: inline-block;
        max-width: 100%;
        color: #084999;
        &:visited,
        &:visited:hover {
            color: #6c00a2;
        }
    }
    &__description {
        font-size: .9176em;
        color: #494949;
        line-height: 1.45;
        margin: 0 0 0.2em;
    }
    &__extras {
        display: flex;
    }
    &__icon-link {
        margin-right: .5em;
    }
    &__domain-link {
        color: #888;
        line-height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: auto;
        max-width: 100%;
        font-size: .9176em;
    }
}
