.home-exchange-rates {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__rate {
        text-align: center;
        border: 0;
        border-right: 1px solid;
        border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #a5a5a5, rgba(0, 0, 0, 0)) 1 100%;
        min-width: 150px;

        &:last-child {
            border-right: 0;
        }

        &__icon {
            font-size: 35px;
            line-height: 1;
        }

        &__name {
            font-size: 14px;
            line-height: 1;
            margin-bottom: 15px;
        }

        &__value {
            color: #333;
            font-size: 20px;
            line-height: 0.88;
        }

        &--bitcoin {
            color: #feb949;
        }

        &--ethereum {
            color: #131313;
        }
    }
}
