<div class="home-exchange-rates">
    <a *ngFor="let result of exchangeRatesResults$ | async" [routerLink]="['/search']" [queryParams]="{q: result.blockchain.name}" class="home-exchange-rates__rate home-exchange-rates__rate--{{result.blockchain.name.toLowerCase()}}">
        <img class="home-exchange-rates__rate__icon" src="/assets/images/coins/{{result.blockchain.symbol}}.png">
        <div class="home-exchange-rates__rate__name">
            {{result.blockchain.name}}
        </div>
        <div class="home-exchange-rates__rate__value">
            ${{result.value | number}}
        </div>
    </a>
</div>
