.home-exchange-rates {
    justify-content: center;
    margin: 0 auto;

    width: 400px;
    overflow: hidden;

    &__rate {
        float: left;
        text-align: center;
        border: 0;
        border-right: 1px solid;
        border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #a5a5a5, rgba(0, 0, 0, 0)) 1 100%;
        width: 100px;
        margin: 0 0 25px 0;

        &:nth-child(4n) {
            border-right: 0;
        }

        &:last-child {
            border-right: 0;
        }

        &__icon {
            width: 32px;
            height: 32px;
        }

        &__name {
            font-size: 14px;
            line-height: 1;
            margin-bottom: 15px;
        }

        &__value {
            color: #333;
            font-size: 16px;
            line-height: 0.88;
        }

        &--bitcoin {
            color: #feb949;
        }

        &--ethereum {
            color: #131313;
        }
    }
}

@media (min-width: 520px) {
    .home-exchange-rates {
        width: 500px;

        &__rate {
            &:nth-child(4n) {
                border-right: 1px solid;
            }

            &:nth-child(5n) {
                border-right: 0;
            }
        }
    }
}

@media (min-width: 1020px) {
    .home-exchange-rates {
        width: 1000px;

        &__rate {
            &:nth-child(4n) {
                border-right: 1px solid;
            }

            &:nth-child(5n) {
                border-right: 1px solid;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }
}
