.home-top-ico-list {
    &__td {
        vertical-align: top;
    }

    &__image {
        width: 40px;
        height: 40px;
        border-radius: 25px;
        display: block;
    }

    &__title {
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        color: #2e3033;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 155px;
    }

    &__category,
    &__date {
        font-size: 14px;
        line-height: 20px;
        color: #6b8199;
        margin: 0;
    }

    &__type {
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 6px;
        background-color: rgba(64, 153, 61, .05);
        color: #40993d;
        padding: 2px 6px 0;
    }

    &__type--ongoing {
        background-color: rgba(255, 67, 70, .05);
        color: #ff4346;
    }

    &__type--pre-sale {
        background-color: rgba(245, 166, 35, 0.05);
        color: #e69a20;
    }

    &__type--upcoming {
        background-color: rgba(64, 153, 61, .05);
        color: #40993d;
    }
}
