@import "../../../../styles/mixins";
@import "../../../../styles/breakpoints";

:host {
    display: block;
}

.search-cap {
    padding: 0;
    &__title {
        @include title;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__content-title {
        font-weight: 500;
        display: table-cell;
        white-space: nowrap;
        padding: 0 10px 10px 0;
        vertical-align: top;
    }
    &__content-value {
        display: table-cell;
        padding: 0 0 10px;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.25;
        letter-spacing: -0.3px;
        color: #2e3033;
        word-break: break-word;
    }
    &__list {
        display: flex;
        list-style: none;
        justify-content: flex-start;
        align-content: center;
        margin: -30px 0 0 0;
        padding: 0;
    }
    &__item {
        display: flex;
        list-style: none;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 5px 0;
        span {
            display: block;
            width: 100%;
        }
    }
    &__label {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #8f9fb3;
    }
    &__value {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.11;
        letter-spacing: normal;
        text-align: left;
        color: #2e3033;
    }
}

@include breakpoint(large) {
    .search-cap {
        padding: 10px 0;
        &__list {
            justify-content: space-evenly;
            flex-wrap: nowrap;
            padding: 30px 0 0 0;
        }
        &__item {
            margin: 0 7px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__label {
            font-size: 14px;
        }
        &__value {
            font-size: 18px;
        }
    }
}
