.search {
    &__results {
        padding: 8px;
    }
}

@media (min-width: 768px) {
    .search {
        &__results {
            padding: 16px 30px 16px 94px;
        }
    }
}

@media (min-width: 1024px) {
    .search {
        &__results {
            padding: 16px 30px;
        }
    }
}

@media (min-width: 1200px) {
    .search {
        &__results {
            padding: 16px 30px 16px 130px;
        }
    }
}
