.search {
    &__results {
        padding: 8px;
    }
}

@media (min-width: 590px) {
    .search {
        &__header {
            padding: 16px;
        }

        &__logo-link {
            margin: 0 16px 0 0;
        }

        &__results {
            padding: 16px;
        }
    }
}

@media (min-width: 900px) {
    .search {
        &__results {
            padding: 16px 16px 16px 80px;
        }
    }
}

@media (min-width: 1080px) {
    .search {
        &__logo-link {
            margin: 0 25px 0 9px;
        }

        &__results {
            padding: 16px 16px 16px 94px;
        }
    }
}
