.search {
    &__header {
        display: flex;
        flex-direction: row;
        min-height: 52px;
        background-color: #fafafa;
        padding: 8px;
        position: relative;
        z-index: 15;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    }

    &__logo-link {
        display: block;
        margin: 0 8px 0 0;
    }

    &__logo {
        width: 46px;
        height: 46px;
        display: block;
    }

    &__form {
        background-color: #fafafa;
        max-width: 590px;
        flex: 1;
    }

    &__results {
        padding: 8px;
    }
}

@media (min-width: 590px) {
    .search {
        &__header {
            padding: 16px;
        }

        &__logo-link {
            margin: 0 16px 0 0;
        }

        &__results {
            padding: 16px;
        }
    }
}

@media (min-width: 900px) {
    .search {
        &__results {
            padding: 16px 16px 16px 80px;
        }
    }
}

@media (min-width: 1080px) {
    .search {
        &__logo-link {
            margin: 0 25px 0 9px;
        }

        &__results {
            padding: 16px 16px 16px 94px;
        }
    }
}
