@mixin content {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        flex-direction: row;
        align-items: flex-start;
    }
}

@mixin header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0 20px;
    max-width: 570px;

    @media (min-width: 1024px) {
        margin: 10px 0 20px;
        width: auto;
    }
}

@mixin content__title {
    position: static;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
}

@mixin content__main {
    max-width: 570px;
}

@mixin content__additional {
    max-width: 570px;

    @media (min-width: 1024px) {
        width: 345px;
        margin: 0 0 0 49px;
    }

    @media (min-width: 1200px) {
        width: 440px;
        margin: 0 0 0 30px;
    }
}
