<div class="transaction">
    <h2 class="transaction__title">
        <a [routerLink]="['/search']" [queryParams]="{q: result.blockchain.name}">{{result.blockchain.name}}</a>
        Transaction
    </h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="2">Summary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Hash</td>
            <td>
                <a [routerLink]="['/search']" [queryParams]="{q: result.hash}">{{result.hash}}</a>
            </td>
        </tr>
        <tr>
            <td>Included In Blocks</td>
            <td>
                <a [routerLink]="['/search']" [queryParams]="{q: result.blockHeight}">{{result.blockHeight}}</a>
            </td>
        </tr>
        <tr>
            <td>From</td>
            <td>
                <div *ngFor="let input of result.inputs">
                    <div>
                        <a [routerLink]="['/search']" [queryParams]="{q: input.address}">{{input.address}}</a>
                        &rarr; {{input.value}} {{result.blockchain.symbol}}
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td>To</td>
            <td>
                <div *ngFor="let output of result.outputs">
                    <div>
                        {{output.value}} {{result.blockchain.symbol}} &rarr;

                        <a *ngIf="output.address" [routerLink]="['/search']" [queryParams]="{q: output.address}">{{output.address}}</a>
                        <span *ngIf="!output.address">Unable to decode output address</span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
