@import '../../../styles/transitions';
@import '../../../styles/colors';

:host {
  &:hover {
    text-decoration: none;
    path {
      fill: color(deepblue);
    }
  }
  &:focus {
    outline: none;
  }
}

.app-logo:focus {
  outline: none;
}

path {
  transition: all $time $ease;
}
