.logo {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    &__name {
        color: #2e3033;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: -0.4px;
        line-height: 1.5;
    }

    &__img {
        width: 32px;
        height: 36px
    }
}

@media (min-width: 768px) {
    .logo {
        &__img {
            width: 42px;
            height: 47px
        }

        &__name {
            font-size: 35px;
            letter-spacing: normal;
            line-height: 1.29;
        }
    }
}
