.search-form {
    position: relative;

    &__btn {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        transition: 0.3s;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 60px;
        border: none;
        cursor: pointer;
        background: url(/assets/images/icons/search.svg) no-repeat center;
        &:hover {
            background-color: rgba(35, 103, 200, 0.05);
        }
        &:focus {
            outline: none;
        }
    }
    &__input {
        width: 100%;
        display: block;
        text-align: left;
        height: 60px;
        background-color: #ffffff;
        font-family: 'Circe', sans-serif;
        padding-left: 15px;
        border: 1px solid #e8e8e8;
        padding-right: 60px;
        font-size: 18px;
        line-height: 1.67;
        overflow: hidden;
        border-radius: 10px;
        transition: box-shadow 0.3s;
        box-shadow: none;
        appearance: none;

        &:focus {
            outline: none;
            box-shadow: 0 2px 5px 0 rgba(107, 129, 153, 0.1), 0 0.5px 3px 0 rgba(107, 129, 153, 0.25);
        }
    }
}

@media (max-width: 767px) {
    .search-form__input {
        height: 50px;
    }
}
