<form class="form"
    action="/search"
    (ngSubmit)="onSubmit(searchBox.value)"
    #homeSearchFormComponent="ngForm">

    <ng2-completer #searchBox
        [ngModelOptions]="{standalone: true}"
        [minSearchLength]="3"
        [textSearching]="false"
        [textNoResults]="false"
        [(ngModel)]="searchTerm"
        [datasource]="data"
        [inputClass]="'input'">
    </ng2-completer>

    <button class="button"
        type="submit"
        tabindex="2">
        Search
    </button>
</form>
