.producthunt {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);

    &--hide {
        display: none;
    }

    &__close {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -225px 0 0 -300px;
        width: 600px;
        height: 450px;
    }

    &__mailto,
    &__twitter,
    &__telegram {
        position: absolute;
        top: 370px;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background: rgba(108, 0, 162, 0.29);
    }

    &__mailto {
        left: 177px;
    }

    &__twitter {
        left: 365px;
    }

    &__medium {
        left: 214px;
    }

    &__telegram {
        left: 271px;
    }
}
