<div class="producthunt" [ngClass]="{'producthunt--hide': !isShow}">
    <div class="producthunt__image">
        <img src="/assets/images/producthunt.jpg">
        <a href="https://www.facebook.com/bitclavedotcom/" target="_blank" class="producthunt__facebook"></a>
        <a href="https://twitter.com/bitclave" target="_blank" class="producthunt__twitter"></a>
        <a href="https://www.linkedin.com/company-beta/6399312/" target="_blank" class="producthunt__linkedin"></a>
        <a href="https://medium.com/bitclave" target="_blank" class="producthunt__medium"></a>
        <a href="https://angel.co/bitclave/job" target="_blank" class="producthunt__angelco"></a>
        <a href="https://t.me/BitClaveCommunity" target="_blank" class="producthunt__telegram"></a>
    </div>
    <div class="producthunt__close" (click)="close()"></div>
</div>
