<div class="search-block-event-list">
    <h2 class="search-block-event-list__title">Future events</h2>

    <div class="search-block-event-list__item" *ngFor="let event of events">
        <app-search-block-event [event]="event"></app-search-block-event>
    </div>

    <app-track-link originalLink="https://coinmarketcal.com/" [serverTrackLink]="" block="search-block-event-list" class="search-block-event-list__link">
        <img class="search-block-event-list__icon" src="{{'https://coinmarketcal.com/' | favicon}}" onerror="this.src='/assets/images/default-icon.png'"></app-track-link>

    <app-track-link originalLink="https://coinmarketcal.com/" [serverTrackLink]="" block="search-block-event-list" class="search-block-event-list__link">
        https://coinmarketcal.com/</app-track-link>
</div>
