@import "../search-block.mixins";

.search-block-exchange-rate {
    @include search-block;
    position: relative;

    &__bancor {
        display: flex;
        position: absolute;
        top: 10px;
        right: 5px;

        &__action {
            flex: 50%;

            &__link {
                display: inline-block;
                cursor: pointer;
                border-radius: 5px;
                background-color: rgba(35, 103, 200, 0.05);
                width: 95px;
                margin: 0 5px;
                font-size: 18px;
                line-height: 40px;
                font-weight: 500;
                text-align: center;
                color: #6b8199;

                &:hover {
                    background-color: rgba(35, 103, 200, 0.1);
                }

                &--buy {
                    color: #2367c8;
                }
            }
        }
    }

    &__from {
        font-size: 16px;
        color: #878787;
        margin: 0 0 5px 0;
        line-height: 1;
    }

    &__to {
        font-size: 32px;
        line-height: 1;
        margin: 0;
    }

    &__link {
        @include search-block-footer-link;
    }

    &__icon {
        @include search-block-footer-icon;
    }
}
