.search-result-address {
    padding: 7px 10px;
    overflow: hidden;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    max-width: 590px;

    &__title {
        display: block;
        font-size: 1.31em;
        vertical-align: middle;
        line-height: 1.15;
        margin: 0 0 0.15em 0;
    }

    &__subtitle {
        display: block;
        font-size: 1.1em;
        vertical-align: middle;
        line-height: 1.15;
        margin: 0.8em 0 0.15em 0;
    }

    &__data {
        &__item {
            font-size: .9176em;
            color: #494949;
            line-height: 1.45;
            margin: 0 0 0.2em;
        }

        &__title {
            font-weight: 700;
        }
    }
}
